<p id="notice"><%= notice %></p>

<p>
  <strong>Incident type:</strong>
  <%= @incident.incident_types.join(", ") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @incident.user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @incident.user.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @incident.user.phone %>
</p>

<p>
  <strong>Role:</strong>
  <%= @incident.user.role %>
</p>

<p>
  <strong>People involved:</strong>
  <%= @incident.people_involved %>
</p>

<p>
  <strong>Other observers:</strong>
  <%= @incident.other_observers %>
</p>

<p>
  <strong>Observed at:</strong>
  <%= @incident.observed_at %>
</p>

<p>
  <strong>Incident location:</strong>
  <%= @incident.incident_location %>
</p>

<% if @incident.incident_location_details.present? %>
<p>
  <strong>Incident location details:</strong>
  <%= @incident.incident_location_details %>
</p>
<% end %>

<p>
  <strong>Incident description:</strong>
  <%= @incident.incident_description %>
</p>

<%= render "attachments" %>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
